@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply bg-slate-50 text-slate-900 min-h-screen font-sans;
}